{% extends 'base.html.twig' %}
{% block body %}
<table border="1">
    <tr>
        <th>Nom</th>
        <th>role</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ u }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}